/* Variables globales */
:root {
    --background-main-landing-page-color: #f5f7fa;
    --color-text-gray: #acacac;
    --color-text-dark: #1a202c;
    --color-text-white: #ffffff;
    --color-yellow: #f5ec43;
    --color-yellow-dark: #d69e2e;
    --color-yellow-light: #fefcbf;
    
    --color-dark-mode-principal: #141414;
    
    --shadow-md: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  /* Navbar */
  .navBarYellow {
    display: flex;
    justify-content: center;
    gap: 2rem;
    align-items: center;
    background-color: var(--background-main-landing-page-color);
    padding: 10px;
  }
  
  .navBarYellow .logo {
    display: flex;
    align-items: center;
  }
  
  .navBarYellow ul {
    list-style: none;
    display: flex;
    gap: 2rem;
    margin: 0;
    padding: 0;
  }
  
  .navBarYellow a {
    color: var(--color-text-dark);
    font-weight: 700;
    text-decoration: none;
    transition: color 0.5s ease;
  }
  
  .navBarYellow a:hover {
    color: var(--color-yellow-dark);
  }
  
  .toggle-dark-mode {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
    background-color: var(--color-yellow);
    border-radius: 10px;
    cursor: pointer;
  }
  

  .toggle-dark-mode::before,
  .toggle-dark-mode::after {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 16px;
    height: 16px;
    border-radius: 50%;
    transition: transform 0.3s ease;
  }
  
  .toggle-dark-mode::before {
    left: 2px;
    background-color: var(--color-text-dark);

  }
  
  .toggle-dark-mode::after {
    right: 2px;
    background-color: var(--background-main-landing-page-color);
  }
  
  .toggle-dark-mode:checked::before {
    transform: translateX(20px);
  }
  
  .toggle-dark-mode:checked::after {
    transform: translateX(20px);
  }
  
  /* Dark Mode */
  .dark-mode {
    --background-main-landing-page-color: var(--color-dark-mode-principal);
    --color-text-gray: #666;
    --color-text-dark: #fff;
    --color-text-white: #fff;
    --color-yellow: #f5ec43;
    --color-yellow-dark: #d69e2e;
    --color-yellow-light: #fefcbf;
  }
  
  .dark-mode .navBarYellow {
    background-color: var(--color-dark-mode-principal);
    color: var(--color-text-white);

  }



  .dark-mode .navBarYellow  img{
  
    
    background-color: var(--color-yellow);
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 5px;

  }
  
  .dark-mode .navBarYellow a {
    color: var(--color-text-white);
  }
  
  .dark-mode .navBarYellow a:hover {
    color: var(--color-yellow);
  }
  
  /* Media Queries */
  
  /* Para celulares */
  @media only screen and (max-width: 500px) {
    .navBarYellow {
      flex-direction: column;
      padding: 10px;
    }
  
    .navBarYellow ul {
      flex-direction: column;
      gap: 1rem;
    }
  
    .toggle-dark-mode {
      margin-top: 10px;
    }
    .navBarYellow{
        display: flex;
        flex-wrap: wrap;
    }
  .navBarYellow img{
    width: 180px;
  }

  }
  
  /* Para tablets */
  @media only screen and (min-width: 450px) and (max-width: 900px) {
    .navBarYellow ul {
      flex-wrap: wrap;
      gap: 1rem;
    }
  
    .toggle-dark-mode {
      margin-left: auto;
    }

    .navBarYellow{
        display: flex;
        flex-wrap: wrap;
        padding: 2rem;
    }
    .navBarYellow img{

        width: 180px;
    }
  
    
  }
  
  /* Para desktops */
  @media only screen and (min-width: 901px) {
    .navBarYellow ul {
      gap: 2rem;
    }
  
    .toggle-dark-mode {
      margin-left: auto;
    }
  
   
  }
  